@import 'tailwindcss';

/* Resets globais e comportamento adaptável de renderização */
html, body {
  background-color: #030712;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Tratamento de Acessibilidade unificado para navegação via teclado */
a:focus-visible, 
button:focus-visible, 
input:focus-visible {
  outline: 2px solid #2563eb !important;
  outline-offset: 2px !important;
  border-radius: 6px !important;
}

/* Prevenção de quebra visual causada pelo Autocomplete do Chrome/Safari */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #0f172a !important;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  transition: background-color 5000s ease-in-out 0s;
}