.scrollbar-fine::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollbar-fine::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-fine::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
  transition: background 0.2s ease;
}

.scrollbar-fine::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}